<h1 class="top">{{title}}</h1>

    <div class="app">


{{#if user}}
    <form method="POST" action="/message" class="auth-card">
        Create a new message
        <label>
            <span class="form-name">Subject</span>
            <input required name="subject" />
        </label>
        <label>
             <span class="form-name">Message</span>
            <input required name="message" />
        </label>
        <input class="submit" type="submit" value="Post"/>
    </form>
    <a class="submit marg-top" href="log-out">Log out.</a>

    {{#if basic}}
        <a class="submit" href="/join">Join the club</a>
    {{/if}}

{{else}}
<p class="marg-top">
    <a class="space" href="log-in">- Log in</a>
    <a class="space" href="sign-up">- Sign up</a>
</p>
    
{{/if}}

{{#if posts}}
    <h2 class="marg-top">Posts</h2>
    <ul>
    {{#each posts}}
        <li class="message">
            <h2 class="message-subject">{{this.subject}}</h2>
            {{#if this.user.full_name}}
            <h3 class="message-name">{{this.user.full_name}}</h3>
            {{/if}}
            <p class="message-text">{{{this.message}}}</p>
            <p class="message-date">{{this.date_formatted}}</p>
        </li>
    {{/each}}
    </ul>
{{/if}}
    </div>
